<div class="container">
    <div  fxLayout.lt-sm ="column" fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
        <div fxFlex="0 1 calc(40% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
        fxFlex.lt-sm="100%" class="part1">
            <div class="mat-h1">
                Your peace of mind is <br> our number one priority.
            </div>
            <mat-divider></mat-divider>
            <div class="mat-body">UniversaCare offers a range of services for in-home care.  We are your partners in care, and work with you to come up with a plan of action. </div>
        </div>
        <!-- when screen size large -->
        <div fxFlex="0 1 calc(20% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxShow="false" fxShow.gt-xs >
            <div class="part2">
                <div>
                    <img src="assets\images\Website Illustrations 7.png" class="center">
                </div>
                <div class="mat-h3"> Hourly Home care</div>
                <div class="detail"> 4x higher coverage limit than traditional policies for computers and home office equipment.</div>
                <div style="text-align: center;">
                    <button mat-mini-fab color="basic" style="text-align: center;"><mat-icon>arrow_forward_ios</mat-icon></button>
                    </div>
                </div>

        </div>

        <!-- divide -->
        
        <div fxFlex="0 1 calc(20% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxShow="false" fxShow.gt-xs >
            <div class="part2">
                <div>
                    <img src="assets\images\Website Illustrations 6.png" class="center">
                </div>
                <div class="mat-h3"> Home Care</div>
                <div class="detail"> 4x higher coverage limit than traditional policies for computers and home office equipment.</div>
                <div style="text-align: center;">
                    <button mat-mini-fab color="basic" style="text-align: center;"><mat-icon>arrow_forward_ios</mat-icon></button>
                    </div>
                </div>

        </div>

        <!-- divide -->
        
        <div fxFlex="0 1 calc(20% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxShow="false" fxShow.gt-xs >
            <div class="part2">
                <div>
                    <img src="assets\images\Website Illustrations 5.png" class="center">
                </div>
                <div class="mat-h3"> Hourly Home care</div>
                <div class="detail"> 4x higher coverage limit than traditional policies for computers and home office equipment.</div>
                <div style="text-align: center;">
                    <button mat-mini-fab color="basic" style="text-align: center;"><mat-icon>arrow_forward_ios</mat-icon></button>
                    </div>
                </div>

        </div>

        <!-- divide -->

        
        <div fxFlex="0 1 calc(20% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxShow="false" fxShow.gt-xs >
            <div class="part2">
                <div>
                    <img src="assets\images\Website Illustrations 4.png" class="center">
                </div>
                <div class="mat-h3"> Private Inspection</div>
                <div class="detail"> 4x higher coverage limit than traditional policies for computers and home office equipment.</div>
                <div style="text-align: center;">
                    <button mat-mini-fab color="basic" style="text-align: center;"><mat-icon>arrow_forward_ios</mat-icon></button>
                    </div>
                </div>

        </div>

        <!-- divide -->
        
        <div fxFlex="0 1 calc(20% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxShow="false" fxShow.gt-xs >
            <div class="part2">
                <div>
                    <img src="assets\images\Website Illustrations 2.png" class="center">
                </div>
                <div class="mat-h3"> Hourly Home care</div>
                <div class="detail"> 4x higher coverage limit than traditional policies for computers and home office equipment.</div>
                <div style="text-align: center;">
                    <button mat-mini-fab color="basic" style="text-align: center;"><mat-icon>arrow_forward_ios</mat-icon></button>
                    </div>
                </div>

        </div>

        <!-- divide -->
        
        <div fxFlex="0 1 calc(20% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxShow="false" fxShow.gt-xs >
            <div class="part2">
                <div>
                    <img src="assets\images\Website Illustrations 1.png" class="center">
                </div>
                <div class="mat-h3"> Private Care</div>
                <div class="detail"> 4x higher coverage limit than traditional policies for computers and home office equipment.</div>
                <div style="text-align: center;">
                    <button mat-mini-fab color="basic" style="text-align: center;"><mat-icon>arrow_forward_ios</mat-icon></button>
                    </div>
                </div>

        </div>

        <!-- divide -->
        
        <div fxFlex="0 1 calc(20% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxShow="false" fxShow.gt-xs >
            <div class="part2">
                <div>
                    <img src="assets\images\Website Illustrations 0.png" class="center">
                </div>
                <div class="mat-h3"> Personal care</div>
                <div class="detail"> 4x higher coverage limit than traditional policies for computers and home office equipment.</div>
                <div style="text-align: center;">
                    <button mat-mini-fab color="basic" style="text-align: center;"><mat-icon>arrow_forward_ios</mat-icon></button>
                    </div>
                </div>

        </div>

        <!-- divide -->
        
        
        

       

        <!-- when screen size large -->
        <div class="container" fxHide="false" fxHide.gt-xs>
            <carousel [height]="400"  [autoplay]="true" [loop]="true"  >
                <div class="carousel-cell">
                    <div class="part2">
                        <div>
                            <img src="assets\images\Website Illustrations 0.png" class="center">
                        </div>
                        <div class="mat-h3"> Hourly Home care</div>
                        <div class="detail"> 4x higher coverage limit than traditional policies for computers and home office equipment.</div>
                        <div style="text-align: center;">
                            <button mat-mini-fab color="basic" style="text-align: center;"><mat-icon>arrow_forward_ios</mat-icon></button>
                            </div>
                        </div>
                </div>
                <!-- divide -->
                <div class="carousel-cell">
                    <div class="part2">
                        <div>
                            <img src="assets\images\Website Illustrations 6.png" class="center">
                        </div>
                        <div class="mat-h3"> Hourly Home care</div>
                        <div class="detail"> 4x higher coverage limit than traditional policies for computers and home office equipment.</div>
                        <div style="text-align: center;">
                            <button mat-mini-fab color="basic" style="text-align: center;"><mat-icon>arrow_forward_ios</mat-icon></button>
                            </div>
                        </div>
                </div>
                <!-- divide -->
                <div class="carousel-cell">
                    <div class="part2">
                        <div>
                            <img src="assets\images\Website Illustrations 5.png" class="center">
                        </div>
                        <div class="mat-h3"> Personal care</div>
                        <div class="detail"> 4x higher coverage limit than traditional policies for computers and home office equipment.</div>
                        <div style="text-align: center;">
                            <button mat-mini-fab color="basic" style="text-align: center;"><mat-icon>arrow_forward_ios</mat-icon></button>
                            </div>
                        </div>
                </div>
                <!-- divide -->

                <div class="carousel-cell">
                    <div class="part2">
                        <div>
                            <img src="assets\images\Website Illustrations 0.png" class="center">
                        </div>
                        <div class="mat-h3"> Hourly Home care</div>
                        <div class="detail"> 4x higher coverage limit than traditional policies for computers and home office equipment.</div>
                        <div style="text-align: center;">
                            <button mat-mini-fab color="basic" style="text-align: center;"><mat-icon>arrow_forward_ios</mat-icon></button>
                            </div>
                        </div>
                </div>
                <!-- divide -->

                <div class="carousel-cell">
                    <div class="part2">
                        <div>
                            <img src="assets\images\Website Illustrations 2.png" class="center">
                        </div>
                        <div class="mat-h3"> Private Care</div>
                        <div class="detail"> 4x higher coverage limit than traditional policies for computers and home office equipment.</div>
                        <div style="text-align: center;">
                            <button mat-mini-fab color="basic" style="text-align: center;"><mat-icon>arrow_forward_ios</mat-icon></button>
                            </div>
                        </div>
                </div>
                <!-- divide -->

                <div class="carousel-cell">
                    <div class="part2">
                        <div>
                            <img src="assets\images\Website Illustrations 1.png" class="center">
                        </div>
                        <div class="mat-h3"> Personal care</div>
                        <div class="detail"> 4x higher coverage limit than traditional policies for computers and home office equipment.</div>
                        <div style="text-align: center;">
                            <button mat-mini-fab color="basic" style="text-align: center;"><mat-icon>arrow_forward_ios</mat-icon></button>
                            </div>
                        </div>
                </div>
                <!-- divide -->

                <div class="carousel-cell">
                    <div class="part2">
                        <div>
                            <img src="assets\images\Website Illustrations 0.png" class="center">
                        </div>
                        <div class="mat-h3"> Memory Care</div>
                        <div class="detail"> 4x higher coverage limit than traditional policies for computers and home office equipment.</div>
                        <div style="text-align: center;">
                            <button mat-mini-fab color="basic" style="text-align: center;"><mat-icon>arrow_forward_ios</mat-icon></button>
                            </div>
                        </div>
                </div>
                <!-- divide -->
                
            </carousel>
        </div>
        

        <!-- when screen size small -->

        <!-- when screen size small -->
        <div fxFlex="0 1 calc(20% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
            <div class="phone">
                <div class="center" >
                    <img src="assets\images\phone (2) 1.png" class="center">
                </div>
                <div class="mat-h2">Do you need Support</div>
                <div class="detail"> We are glad to help.</div>
                
                <div style="text-align: center;">
                    <button mat-flat-button color="primary" style="text-align: center;">Contact Us</button>
                    </div>
            </div>

        </div>
    
    </div>
</div>
