.fill-remaining-space {
    /*This fills the remaining space, by using flexbox.  
   Every toolbar row uses a flexbox row layout. */
   flex: 1 1 auto;
 }

 .mat-toolbar.mat-primary {
    background: #ffffff;
    color: #383c41;
  }
  .center {
    margin: auto;
    width: 70%;
    
    }
    