
<!-- <div class= "container-center"><P>READ ABOUT OUR COVID-19 PRECAUTIONS</P></div> -->


    
    
        

    <!-- This fills the remaining space of the current row -->
    <!-- <span class="fill-remaining-space"></span> -->
    <ng-container>
        <div class="center">
        
            <h4 class="mat-h4" >READ ABOUT OUR COVID-19 PRECAUTIONS</h4>
               
           </div>
        </ng-container>
  
    <!-- <div style='float: right;'>
        <p><mat-icon>phone</mat-icon>9926-242-234</p>
    </div> -->
    
