<carousel [height]="300"  [autoplay]="true" [loop]="true"  >
    <div class="carousel-cell">
        <img src="assets\images\Website Illustrations 0.png">
    </div>
    <div class="carousel-cell">
        <img src="assets\images\Website Illustrations 1.png">
    </div>
    <div class="carousel-cell">
        <img src="assets\images\Website Illustrations 2.png">
    </div>
    <div class="carousel-cell">
        <img src="assets\images\Website Illustrations 4.png">
    </div>
    <div class="carousel-cell">
        <img src="assets\images\Website Illustrations 5.png">
    </div>
    <div class="carousel-cell">
        <img src="assets\images\Website Illustrations 6.png">
    </div>
    <div class="carousel-cell">
        <img src="assets\images\Website Illustrations 7.png">
    </div>
    <div class="carousel-cell">
        <img src="assets\images\Website Illustrations 1.png">
    </div>
    <div class="carousel-cell">
        <img src="assets\images\Website Illustrations 2.png">
    </div>
    <div class="carousel-cell">
        <img src="assets\images\Website Illustrations 4.png">
    </div>
    <div class="carousel-cell">
        <img src="assets\images\Website Illustrations 5.png">
    </div>
    <div class="carousel-cell">
        <img src="assets\images\Website Illustrations 6.png">
    </div>
    <div class="carousel-cell">
        <img src="assets\images\Website Illustrations 7.png">
    </div>
    
</carousel>
