<div class="container">
    
    <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start" >
        <div fxFlex="0 1 calc(25% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
        fxFlex.lt-sm="100%" >
        <div class="part1">
        <div class="mat-display-2">5.0</div>
        <div class="star">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
        </div>
            <div class="mat-body">2,054 verified customers reviews by Google.</div>
        </div>
    </div>
        <div fxFlex="0 1 calc(25% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
        fxFlex.lt-sm="100%" *ngFor="let folder of folders" fxShow="false" fxShow.gt-sm >
        <div class="part2">
        <mat-card class="example-card">
            <div class="mat-card-header" >{{folder.name}}</div>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <mat-card-content >{{folder.detail}} </mat-card-content>
            </mat-card>
        </div>
        </div>
    </div>

    <div fxHide="false" fxHide.gt-sm style="padding-top: 10%;">
        <carousel [height]="400"  [autoplay]="true" [loop]="true">
            
            <div class="carousel-cell" *ngFor="let folder of folders">
                 <mat-card class="example-card">
            <div class="mat-card-header" >{{folder.name}}</div>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <mat-card-content >{{folder.detail}} </mat-card-content>
            </mat-card>
            </div>
            
        </carousel>
        <!-- link given here -->
    </div>
</div>


