

<div >
    

    <!-- This fills the remaining space of the current row -->
    
    <div fxLayout="row" fxShow="false" fxShow.gt-sm >
        <div fxFlex="40" class="request">
                <div >
                  <h1 class="display">The Future of Health Care is Home Care.</h1> 
                <h3 class= "mat-body">Over a Decade of Trusted Care.</h3>
                <button mat-flat-button color="primary">REQUEST AN APPOINTMENT </button>
            </div>
        </div>
        <div fxFlex="60">
            <img src="assets\images\Vector 1.jpg" alt="Nature" class="responsive" >
        </div>
        
    
        
    </div>
    <!-- <div style='float: right;'>
        <p><mat-icon>phone</mat-icon>9926-242-234</p>
    </div> -->
    <div fxLayout="column" fxHide="false" fxHide.gt-sm>
        <div fxFlexFill>
            <img src="assets\images\Vector 2.jpg" alt="Nature" class="fit" > 
        </div>
        <div fxFlexFill>
                <div class="container-small">
                <div class="mat-h1">The Future of Health Care is Home Care.</div>
                <div class="mat-h4">Over a Decade of Trusted Care.</div>
                
                    <button mat-flat-button color="primary">REQUEST AN APPOINTMENT </button>
                
                </div>

        
            <!-- <h1 class="mat-head">The Future of Health Care is Home Care.</h1> 
            <h3 class= "mat-title">Over a Decade of Trusted Care.</h3>
              <button mat-raised-button color="primary">REQUEST AN APPOINTMENT </button> -->
          
        </div>
        <!-- <div fxFlex="60"  fxFlexAlign="strech">
             <img src="assets\images\Vector 2.jpg" alt="Nature" class="fit" > -->
        <!-- </div>
        <div fxFlex="40"  fxFlexAlign="strech">
            <div class="center">
                
              <button mat-raised-button color="primary">REQUEST AN APPOINTMENT </button>
          </div>
        </div>  -->
    </div>
    <!-- <button mat-button [mat-menu-trigger-for]="menu" >
     <mat-icon>menu</mat-icon>
    </button> -->
</div>











<div class="container">
    <div class ="location" color= "accent">
        <h3 ><mat-icon>location</mat-icon>UNIVERSACARE AREA OF COVERAGE</h3>
    </div>
</div>